<ul>
  {% for day in week_days %}
    <li>{{ day|date('U')|format_date('my_custom_date_format') }}</li>
  {% endfor %}

  {% for key, value in {pomme: 42, bannane: 13} %}
    <li>{{ loop.index }} / {{ key }} : {{ value }}</li>
  {% else %}
    <li>Pas de liste de course</li>
  {% endfor %}

</ul>
